.photo-grid {
    margin: 0 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 12px;
}

@media screen and (min-width: 768px) {
    .photo-grid {
        gap: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .photo-grid {
        margin: 0 48px;
        gap: 14px;
    }
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        max-width: 1184px;
        margin: 0 auto;
        gap: 16px;
    }
}