.places {
    max-width: 984px;
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .places {
        margin: 0 24px;
        gap: 72px;
    }
}

@media screen and (min-width: 1024px) {
    .places {
        margin: 0 48px;
        gap: 80px;
    }
}

@media screen and (min-width: 1280px) {
    .places {
        margin: 0 auto;
    }
}