.cover__subtitle {
    max-width: 288px;
    max-height: 48px;
    margin: 0 auto;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    z-index: 1;
}

@media screen and (min-width: 768px) {
    .cover__subtitle {
        max-width: 360px;
        min-height: 66px;
        font-size: 18px;
        line-height: 1.22;
    }
}