.intro__text {
    margin: 0;
    margin-bottom: 33px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
}

@media screen and (min-width: 768px) {
    .intro__text {
    max-width: 720px;
    }
}

@media screen and (min-width: 1024px) {
    .intro__text {
        max-width: 690px;
    }
}