.lead__subtitle {
	margin: 0;
	max-width: 288px;
	font-family: 'Inter', 'Arial', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;
	text-align: center;
	margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
	.lead__subtitle {
		max-width: 640px;
		font-size: 30px;
		line-height: 1.2;
		margin-bottom: 56px;
	}
}

@media screen and (min-width: 1280px) {
	.lead__subtitle {
		margin-bottom: 64px;
	}
}