.lead__images {
	display: block;
	width: 100%;
}

@media screen and (min-width: 1024px) {
	.lead__images {
		width: calc(100% - 96px);
	}
}

@media screen and (min-width: 1280px) {
	.lead__images {
		width: calc(100% - 296px);
	}
}