.place__link {
    margin: 0;
    color: white;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
}

.place__link:hover {
    opacity: 0.8;
}