.footer {
    margin-left: 16px;
    margin-bottom: 24px;
    align-self: stretch;
}

@media screen and (min-width: 768px) {
    .footer {
        display: flex;
        justify-content: space-between;
        margin: 24px;
        margin-top: 0;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        margin: 24px 48px;
        margin-top: 0;
    }
}

@media screen and (min-width: 1280px) {
    .footer {
        width: 1184px;
		margin: 24px auto;
        margin-top: 0;
    }
}