.intro__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
}

@media screen and (min-width: 768px) {
  .intro__title {
    max-width: 720px;
    font-size: 54px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 1024px) {
  .intro__title {
    max-width: 690px;
  }
}